SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=maintflow
DB_USER=maintflow
DB_PASSWORD=maintflow
DB_HOST=localhost
DB_PORT=5432

TIME_ZONE=Africa/Brazzaville

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000
